@import "./variables.scss";
@import "./include-media.scss";

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $mainFont;
}
body {
    overflow-x:  hidden;
    @include media(">=1600px") {
        font-size: 1.2rem;
    }
    background: $bgDark;
    background: linear-gradient(to right, $bgDark, rgb(17, 16, 20));
//////
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/////
/// 
background: $bgDark;
    background: linear-gradient(to right, $bgDark, rgb(0, 0, 0));


}

.accent__words{
    font-weight: 600;
}

.navbar {
    background-color: $bgDark;
    height: 5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 998;
    width: 100vw;
    &__container {
        display: flex;
        justify-content: space-between;
        z-index: 1;
        //height: 5rem;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 3.125rem;
        
        @include media("<=desktop") {
            display: flex;
            justify-content: space-between;
            height: $navbarHeight;
            z-index: 1;
            width: 100%;
            max-width: 1300px;
            padding: 0;
            align-self: flex-start;
        }

        #navbar-logo {
            background-color: #ff8177;
            background-image: linear-gradient(to top, rgb(2, 25, 138) 0%, rgb(130, 184, 246) 100%);
            background-size: 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            color: transparent;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            font-size: 2rem;

            @include media("<=desktop") {
                padding-left: 1.5rem;
            }
        }

        &__toggle {
            & .bar {
                @include media("<=desktop") {
                    width: 1.5rem;
                    height: 3px;
                    margin: 0.3rem auto;
                    transition: all 0.3 ease-in-out;
                    background: $textWhite;
                    display: block;
                    cursor: pointer;
                }
            }
            @include media("<=desktop") {
                .bar:nth-child(1) {
                    border-radius: 50px 50px 0 0;
                }
                .bar:nth-child(2) {
                    width: 2rem;
                }
                .bar:nth-child(3) {
                    border-radius: 0 0 50px 50px;
                }
            }
        }
        #mobile-menu {
            @include media("<=desktop") {
                position: absolute;
                top: 20%;
                right: 5%;
                transform: translate(5%, 20%);

                &.is-active .bar:nth-child(2) {
                    opacity: 0;
                }
                &.is-active .bar:nth-child(1) {
                    transform: translateY(0.5rem) rotate(45deg);
                }
                &.is-active .bar:nth-child(3) {
                    transform: translateY(-0.5rem) rotate(-45deg);
                }
            }
        }

        &__menu {
            display: flex;
            align-items: center;
            list-style: none;

            @include media("<=desktop") {
                display: grid;
                grid-template-columns: auto;
                margin: 0;
                width: 100%;
                position: absolute;
                top: -62.5rem;
                opacity: 1;
                transition: all 0.5s ease;
                z-index: -1;

                &.active {
                    background: $bgDark;
                    top: 100%;
                    opacity: 1;
                    transition: all 0.5s ease;
                    z-index: 99;
                    height: 60vh;
                    font-size: 1.6rem;
                }
            }
            &__item {
                height: 5rem;
                @include media("<=desktop") {
                    width: 100%;
                }
                &__links {
                    color: $textWhite;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    width: 9rem;
                    height: 100%;
                    transition: all 0.3s ease;
                    @include media("<=desktop") {
                        text-align: center;
                        padding: 2rem;
                        width: 100%;
                        display: table;
                    }
                    &:hover {
                        color: rgb(66, 94, 238);
                    }
                }
            }
        }
    }
}

.highlight {
    border-bottom: 4px solid rgb(2, 25, 138);
}

// Hero Section
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.hero {
    
    //padding: 12.5rem 0;
    height: $screenHeight;
    //background: #3a5595;
    margin-top: -$navbarHeight;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 75rem;
        margin: 0 auto;
        height: 90%;
        text-align: center;
        padding: 1.9rem;
        @include media(">phone", "<=425px") {
            //background-color: rgb(128, 77, 46);
            height: 100vh;
        }
        &__heading {
            font-size: 6.25rem;
            margin-bottom: 1.5rem;
            color: $textWhite;
            @include media("<1000px") {
                font-size: 5rem;
            }
            @include media("<=tablet") {
                font-size: 3.75rem;
            }
            @include media ("<=phone") {
                font-size: 3rem;
            }
            
        }

        &__description {
            font-size: 3.75rem;
            background: #373b44; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #4286f4, #373b44); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #4286f4, #373b44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            color: transparent;
            animation: fade 2s ease-in 1s;
            animation-delay: 2s;
            pointer-events: none;

            @include media("<1000px") {
                font-size: 3rem;
            }
            @include media("<=tablet") {
                font-size: 2.5rem;
            }
            @include media("<=phone") {
                font-size: 2rem;
            }
        }
    }
}

//web dev skills
.webdev__skills {
    width: 100vw;
    height: $screenHeight;
    padding-left: $marginScreenLeft;
    padding-right: $marginScreenRight;
    //background: #ff8177;
    @include media(">=1600px") {
        //background-color: rgb(99, 58, 66);
        padding-top: 10vh;
    }
    @include media(">tablet", "<=870px") {
        //background-color: rgb(99, 58, 66);
    }
    @include media("<=tablet") {
        height: fit-content;
        //background-color: rgb(106, 130, 132);
    }
    @include media("<=425px") {
        height: 200vh;
        //background: #ff8177;
    }
    .webdev__skills__container {
        display: flex;
        color: $textWhite;
        justify-content: center;
        gap: 10vw;
        padding-top: $paddingfromNavBar;
        @include media(">=1600px"){
            gap: 6vw;
        }
        @include media("<1000px") {
            gap: 5vw;
        }
        @include media(">tablet", "<=870px") {
            align-items: center;
            padding-top: 10vh;
        }
        @include media("<=tablet") {
            flex-direction: column;
            gap: 10vh;
        }
        @include media("<=425px") {
            
        }
        .webdev__skills__container__left {
            display: flex;
            gap: 2vw;
            align-items: center;
            margin-left: $marginScreenLeft;
            @include media(">=1600px") {
                gap: 2.5vw;
            }
            @include media(">tablet", "<=870px"){
                margin-left: 0;
            }
            @include media("<=tablet") {
                gap: 6vw;
            }
            @include media("<=425px") {
                margin-top: 10vh;
                //margin-bottom: 10vh;
                gap: 8vw;
                margin-right: $marginScreenRight;
            }
            @include media(">phone","<=360px") {
                margin-top: 5vh;
                margin-bottom: -32vh;
            }
            @include media("<=phone") {
                margin-top:0vh;
            }
            
            h1 {
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                text-align: end;
                margin: 0;
                font-size: 2.4rem;
                @include media(">=1600px") {
                    font-size: 2.6rem;
                }
                @include media("<1000px") {
                    font-size: 2.2rem;
                }
                @include media("<=phone") {
                    font-size: 2rem;
                }
            }
            #web-dev-tekst {
                max-width: 60ch;
                font-size: 1rem;
                line-height: 1.5rem;
                @include media(">=1600px") {
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
                @include media("<1000px") {
                    line-height: 1.4rem;
                }
                @include media("<=tablet") {
                    max-width: 52ch;
                }
            }
        }
        .webdev__skills__container__icons {
            padding: 4rem;
            display: inline-block;
            border: 3px solid #ffffff;
            font-size: 2.5rem;
            border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
            text-transform: uppercase;
            letter-spacing: 0.3ch;
            background: $textWhite;
            position: relative;
            //color: $bgDark;
            @include media("<1000px") {
                padding: 1.8rem;
                font-size: 2rem;
            }
            @include media ("<=tablet") {
                margin-bottom: 10vh;
            }
            @include media("<=425px") {
                padding: 1rem;
                bottom: -35vh;
                justify-content: center;  
            }
            @include media ("<=phone"){
                bottom: -5vh;
            }
            
            &::before {
                content: "";
                border: 2px solid #ffffff;
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
                border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
            }

            .webdev__skills__container__icons__grid {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: auto auto auto;
                justify-items: center;
                align-items: center;
                gap: 2rem;
                @include media("<=550px") {
                    grid-template-columns: auto auto;
                    grid-template-rows: auto;
                    gap: 1rem;
                }
                .icon {
                    display: grid;
                    justify-content: center;
                    align-content: center;
                    text-align: center;

                    height: 7rem;
                    font-size: 7rem;
                    background: $bgDark;
                    background: -webkit-linear-gradient(to right, $bgDark, #373b44); /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, $bgDark, #3a5595); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    background-clip: text;
                    color: transparent;
                    background-size: 1000%;
                    cursor: pointer;
                    z-index: 5;
                    transition: 0.2s;
                    @include media(">=1600px") {
                        font-size: 7.5rem;
                        height: 7.5rem;
                    }
                    @include media("<=425px"){
                        font-size: 6rem;
                        height: 6rem;
                    }
                    @include media ("<=phone") {
                        font-size: 4.5rem;
                        height: 4.5rem;
                    }
                    @media (hover: hover) and (pointer: fine) {
                        &:hover {
                            background-position: right;
                            scale: 105%;   
                        }
                    }
                    
                }
                #more_to_come {
                    grid-column: span 2;
                    font-size: 1.3rem;
                    @include media ("<=phone"){
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

// Projects
.projects {
    .projects__container {
        // background-color: #3a5595;
        width: 100vw;
        height: $screenHeight;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $textWhite;
        text-align: center;
        @include media ("<=phone"){
            font-size: 1rem;
        }
    }
}

//more skills
.more__skills {
    width: 100vw;
    height: $screenHeight;
    //background: #ff8177;
    padding-left: $marginScreenLeft;
    padding-right: $marginScreenRight;
    display: flex;
    justify-content: center;
    @include media(">tablet", "<=870px") {
        //background-color: rgb(99, 87, 20);
    }
    @include media("<=tablet") {
        //background-color: rgb(135, 97, 50);
        height: fit-content;
    }
    @include media("<=425px") {
        //background: #4286f4;
        height: 200vh;
    }
    .more__skills__container {
        display: flex;
        color: $textWhite;
        padding-top: $paddingfromNavBar;
        @include media("<=tablet") {
            flex-direction: column-reverse;
        }
        .more__skills__container__carousel {
            width: 50vw;
            max-height: 70vh;
            aspect-ratio: 1/1;
            position: relative;
            @include media(">tablet", "<=870px"){
                width: 60vw;
            }
            @include media("<=tablet") {
                top: -10vh;
                width: 90vw;
            }
            @include media("<=425px") {
                top: -10vh;
                width: 90vw;
            }
            @include media("<=phone") {
                top:-14vh;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            .slide {
                position: absolute;
                inset: 0;
                opacity: 0;
                transition: 500ms opacity ease-in-out;
                //transition-delay: 200ms;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
                .description {
                    position: absolute;
                    bottom: -10%;
                    left: 3.2vw;
                    width: max-content;
                    @include media(">=1600px") {
                        line-height: 180%;
                    }
                    @include media("<=1000px") {
                        
                        h3 {
                            font-size: 1.05rem;
                        }
                    }
                    @include media(">tablet", "<=870px") {
                        left: 0;
                    }
                    @include media(">740px","<=tablet") {
                        left: 3vw;
                    }
                    @include media ("<=740px") {
                        left: 0;
                    }
                    @include media("<=425px") {
                        left: 0;
                        bottom: -12%;
                        h3 {
                            font-size: 1rem;
                        }
                        p {
                            font-size: 0.9rem;
                        }
                    }
                    @include media ("<=phone") {
                        max-width: 100%;
                        bottom: -15%;
                    }
                }
            }
            .slide[data-active] {
                opacity: 1;
                z-index: 1;
                //transition-delay: 200ms;
            }

            .carousel__button {
                position: absolute;
                border: none;
                background: none;
                font-size: 4rem;
                z-index: 2;
                cursor: pointer;
                top: 50%;
                transform: translateY(-50%);
                color: rgb(168, 168, 168);
                border-radius: 0.25rem;
                padding: 0 0.5rem;
                background-color: rgba(0, 0, 0, 0.1);

                &:hover,
                &:focus {
                    color: rgb(231, 231, 231);
                    background-color: rgba(0, 0, 0, 0.2);
                }

                &:focus {
                    outline: 1px solid black;
                }

                &.prev {
                    left: 1rem;
                }
                &.next {
                    right: 1rem;
                }
            }
        }
        .more__skills__container__right {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            margin-bottom: 40vh;
            gap: 2vw;
            margin-right: $marginScreenRight;
            @include media(">tablet", "<=870px") {
                margin-right: 0;
                //align-self: flex-end;
                
                align-items:center;
                margin-top: 15vh;
            }
            @include media("<=tablet") {
                margin-top: 10vh;
                margin-bottom: 20vh;
            }
            @include media("<=425px") {
                margin: 0;
                position: absolute;
                top: 430vh;
                margin-left: $marginScreenLeft;
                margin-right: 7vw;
            }
            h1 {
                writing-mode: vertical-rl;
                margin: 0;
                font-size: 2.4rem;
                @include media(">=1600px") {
                    font-size: 2.6rem;
                }
                @include media("<1000px") {
                    font-size: 2.2rem;
                }
                @include media("<phone") {
                    font-size: 2rem;
                }
            }
            #more-tekst {
                max-width: 60ch;
                font-size: 1rem;
                line-height: 1.5rem;
                margin-left: 2vw;
                @include media(">=1600px") {
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
                @include media("<1000px") {
                    line-height: 1.4rem;
                }
                @include media("<=425px"){
                    max-width: 35ch;
                }
               
            }
        }
    }
}

// about
.about {
    .about__container {
        width: 100vw;
        height: $screenHeight;
        display: flex;
        color: $textWhite;
        //background-color: #3a5595;
        background-color: $bgDark;
        position: relative;
        overflow: hidden;
        @include media("<=700px") {
            flex-direction: column;
            height: 200vh;
        }
        .about__container__contact {
            width: 50%;
            //background-color: rgb(89, 112, 93);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 20vh;
            @include media(">700px", "<=tablet") {
                margin-top: 22vh;
            }
            @include media("<=700px") {
                margin-top: 0;
                align-items: center;
                width: 100%;
                height: 100vh;
            }
            @include media("<=425px") {
                align-items: center;
                width: 100%;
                height: 100vh;
            }
            #contact-form {
                z-index: 1;
                display: flex;
                flex-direction: column;

                @include media("<=phone") {
                    margin-top: 10vh;
                }
                h1 {
                    margin: 0;
                    @include media("<=phone"){
                       font-size: 1.6rem;
                    }
                    a {
                        text-decoration: none;
                        color: $textWhite;
                        i{
                            color: rgb(10, 102, 194);
                        }
                    }
                }
                h4 {
                    margin: 0.5rem 0.1rem;
                }
                h2 {
                    margin-bottom: 2rem;
                    @include media("<=phone"){
                       font-size: 1.3rem;
                       margin-bottom: 1.8rem;
                    }
                }
                label {
                    margin-bottom: 0.3rem;
                    @include media("<=425px") {
                        margin-left: 5vw;
                    }
                    @include media("<=phone"){
                       font-size: 0.9rem;
                       margin-left: 1vw;
                    }
                }
                input {
                    margin-bottom: 1rem;
                    width: 18rem;
                    border-radius: 5px;
                    @include media("<=425px") {
                        align-self: center;
                    }
                    @include media("<=phone"){
                       font-size: 0.9rem;
                    }
                }
                #message {
                    overflow-y: scroll;
                    width: 18rem;
                    height: 20vh;
                    margin-bottom: 0.3rem;
                    resize: none;
                    border-radius: 5px;
                    @include media("<=425px") {
                        align-self: center;
                    }
                    @include media("<=phone"){
                        height: 18vh;
                    }
                }
                #send {
                    background-image: linear-gradient(to top, rgb(2, 25, 138) 0%, rgb(130, 184, 246) 100%);
                    border:none;
                    border-radius: 5px;
                    height: 1.4rem;
                    color: $textWhite;
                    transition: 0.3s;
                    &:hover{
                        background-image: linear-gradient(to top, rgb(2, 25, 138) 0%, rgb(2, 25, 138) 100%);
                    }
                    &:active{
                        background-image: linear-gradient(to top, rgb(130, 184, 246) 0%, rgb(130, 184, 246) 100%);
                    }
                }
                #thanks_message {
                    @include media("<=425px") {
                        margin-left: 5vw;
                    }
                    @include media("<=phone"){
                       font-size: 0.9rem;
                       margin-left: 1vw;
                    }
                }
            }
        }
        .about__container__about {
            z-index: 1;
            width: 50%;
           
            @include media("<=700px") {
                width: 100%;
                margin-left: 10vw;
                margin-right: $marginScreenRight;
            }
            @include media("<=425px") {
                
                height: 100vh;
                margin-left: $marginScreenLeft;
                margin-right: $marginScreenRight;
                //background-color: coral;
            }
            h1 {
                margin-top: 20vh;
                @include media("<=tablet"){
                    margin-top: 22vh;
                }
            }
            p {
                width: 50ch;
                line-height: 1.5rem;
                 @include media(">tablet", "<=910px"){
                    width: 35ch;
                }
                @include media(">700px","<=tablet") {
                    width: 33ch;
                }
                @include media("<=550px") {
                    max-width: 85vw;
                }
                @include media("<=425px") {
                    max-width: 90vw;
                }
                @include media("<=phone") {
                    margin-left: 1vw;
                }
                
            }
        }
        .about__container__blob {
            position: absolute;
            z-index: 0;
            margin-left: 40vw;
            margin-top: 20vh;
            overflow: hidden;
            @include media ("<=700px") {
                margin-top: 70vh;
            }
            @include media("<=425px") {
                margin-left: 20vw;
                margin-top: 80vh;
            }
            @include media("<=phone") {
                margin-top: 65vh;
            }
        }
    }
}

.valid__input {
    border-color: rgb(38, 130, 38);
    border-style: solid;
    border-width: 3px;
}
.invalid__input {
    border-color:rgb(220, 39, 39);
    border-style: solid;
    border-width: 3px;
}