@import './variables.scss';
@import './include-media.scss';

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $mainFont;
}
body{
    overflow-x: hidden;
    background: $bgDark;
    background: linear-gradient(to right, $bgDark, rgb(17, 16, 20));
}

.navbar{
    background-color: $bgDark;
    height: 5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 998;
    

    &__container{
        display: flex;
        justify-content: space-between;
        z-index: 1;
        //height: 5rem;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 3.125rem;

        @include media("<=desktop") {
            display: flex;
            justify-content: space-between;
            height: $navbarHeight;
            z-index: 1;
            width: 100%;
            max-width: 1300px;
            padding: 0;
        }

        #navbar-logo{
            background-color: #ff8177;
            background-image: linear-gradient(to top, rgb(2, 25, 138) 0%, rgb(130, 184, 246) 100%);
            background-size: 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            color: transparent;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            font-size: 2rem;

            @include media("<=desktop"){
                padding-left: 1.5rem;
            }
        }

        &__toggle{
            & .bar{
                @include media("<=desktop"){
                    width: 1.5rem;
                    height: 3px;
                    margin: 0.3rem auto;
                    transition: all 0.3 ease-in-out;
                    background: $textWhite;
                    display: block;
                    cursor: pointer;
                }
            }
            @include media("<=desktop"){
                .bar:nth-child(1){
                    border-radius: 50px 50px 0 0;
                }
                .bar:nth-child(2){
                    width: 2rem;
                    
                }
                .bar:nth-child(3){
                    border-radius: 0 0 50px 50px;
                }
            }  
        }
        #mobile-menu{
            @include media("<=desktop"){
                position: absolute;
                top: 20%;
                right: 5%;
                transform: translate(5%, 20%);

                &.is-active .bar:nth-child(2){
                    opacity: 0;
                }
                &.is-active .bar:nth-child(1){
                    transform: translateY(0.5rem) rotate(45deg);
                }
                &.is-active .bar:nth-child(3){
                    transform: translateY(-0.5rem) rotate(-45deg);
                }
            }
        }

        &__menu{
            display: flex;
            align-items: center;
            list-style: none;

             @include media("<=desktop"){
                display: grid;
                grid-template-columns: auto;
                margin: 0;
                width: 100%;
                position: absolute;
                top: -62.5rem;
                opacity: 1;
                transition: all 0.5s ease;
                z-index: -1;

                &.active{
                    background: $bgDark;
                    top: 100%;
                    opacity: 1;
                    transition: all 0.5s ease;
                    z-index: 99;
                    height: 60vh;
                    font-size: 1.6rem;
                }
             }
            &__item{
                height: 5rem;
                @include media("<=desktop"){
                    width: 100%;
                }
                &__links{
                    color: $textWhite;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    width: 9rem;
                    height: 100%;
                    transition: all 0.3s ease;
                    @include media("<=desktop"){
                        text-align: center;
                        padding: 2rem;
                        width: 100%;
                        display: table;
                    }
                    &:hover{
                        color: rgb(66, 94, 238);
                        
                    }

                    
                }
            }
        }
    }
    
}

.highlight {
        border-bottom: 4px solid rgb(2, 25, 138);
    }

// Hero Section
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.hero{
   background: $bgDark;
   background: linear-gradient(to right, $bgDark, rgb(0,0,0,));
   //padding: 12.5rem 0;
   height: $screenHeight;
   //background: #3a5595;
   margin-top: -$navbarHeight;
   &__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 1.9rem;
    @include media(">phone", "<=425px") {
        //background-color: rgb(128, 77, 46);
        height: 100vh;
    }
    &__heading{
        font-size: 6.25rem;
        margin-bottom: 1.5rem;
        color: $textWhite;
        @include media("<1000px") {
            font-size: 5rem;
        }
        @include media("<=tablet") {
            font-size: 3.75rem;
        }
    }

    &__description{
        font-size: 3.75rem;
        background: #373B44;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: transparent;
        animation: fade 2s ease-in 1s;
        animation-delay: 2s;
        pointer-events: none;
       
        @include media("<1000px") {
            font-size: 3rem;
        }
        @include media("<=tablet") {
            font-size: 2.5rem;
        }
    }
   }
   
}

//web dev skills
.webdev__skills{
    width: 100vw;
    height: $screenHeight;
    padding-left: $marginScreenLeft;
    padding-right: $marginScreenRight;
    //background: #ff8177;
    @include media(">phone", "<=425px") {
            height: 200vh;
        }
    .webdev__skills__container{
        display: flex;
        color: $textWhite;
        justify-content: center;
        gap: 10vw;
        padding-top: $paddingfromNavBar;
        @include media(">phone", "<=425px") {
            flex-direction: column;
            gap: 30vh;
        }
        @include media("<1000px"){
            gap: 5vw;
        }
        .webdev__skills__container__left{
            display: flex;
            gap: 2vw;
            align-items: center;
            margin-left: $marginScreenLeft;
            @include media(">phone", "<=425px") {
                margin-bottom: 10vh;
                gap: 8vw;
                margin-right: $marginScreenRight;
            }
            h1{
                writing-mode:sideways-lr;
                text-align: end;
                margin: 0;
                font-size: 2.4rem;
                @include media("<1000px"){
                    font-size: 2.2rem;
                }
            }
            #web-dev-tekst{
                max-width: 60ch;
                font-size: 1rem;
                line-height: 1.5rem;
                @include media("<1000px"){
                    line-height: 1.4rem;
                }
            }
        }
        .webdev__skills__container__icons{
            padding: 4rem;
            display: inline-block;
            border: 3px solid #ffffff;
            font-size: 2.5rem;
            border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
            text-transform: uppercase;
            letter-spacing: 0.3ch;
            background: $textWhite;
            position: relative;
            //color: $bgDark;
             @include media("<1000px"){
                padding: 1.8rem;
                font-size: 2rem;
             }
            &::before{
               content: '';
                border: 2px solid #ffffff;
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
                border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
                
            }

            
            .webdev__skills__container__icons__grid{
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: auto auto auto;
                justify-items: center;
                align-items: center;
                gap: 2rem;
                @include media(">phone", "<=425px"){
                    grid-template-columns: auto auto;
                    grid-template-rows: auto ;
                }
                 .icon{
                    display: grid;
                    justify-content: center;
                    align-content: center;
                    text-align: center;
                    
                    height: 7rem;
                    font-size: 7rem;
                    background: $bgDark;
                    background: -webkit-linear-gradient(to right, $bgDark, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, $bgDark, #3a5595); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    background-clip: text;
                    color: transparent;
                    background-size: 1000%;
                    cursor: pointer;
                    z-index:5;
                    transition: 0.2s;
                    &:hover{
                        background-position: right;
                        scale: 105%;
                    }
                }
                #more_to_come{
                    grid-column: span 2;
                    font-size: 1.3rem;
                }
            }
            

            
        }
    }
}

// Projects
.projects{
    .projects__container{
       // background-color: #3a5595;
        width: 100vw;
        height: $screenHeight;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $textWhite;
    }
}

//more skills
.more__skills{
    width: 100vw;
    height: $screenHeight;
    //background: #ff8177;
    padding-left: $marginScreenLeft;
    padding-right: $marginScreenRight;
    display: flex;
    justify-content: center;
    @include media(">phone", "<=425px"){
        height: fit-content;
    }
    .more__skills__container{
        display: flex;
        color: $textWhite;
        padding-top: $paddingfromNavBar;
        @include media(">phone", "<=425px"){
            flex-direction: column-reverse;
        }
        .more__skills__container__carousel{
            width: 50vw;
            height: 80vh;
            position: relative;
            @include media(">phone", "<=425px"){
                width: 90vw;
            }
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
            }
            .slide{
                position: absolute;
                inset:0;
                opacity: 0;
                transition: 500ms opacity ease-in-out;
                //transition-delay: 200ms;
                
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit:contain;
                    object-position: center;
                }
                .description{
                    position: absolute;
                    bottom: 20%;
                    left: 52vw;
                    width:max-content;
                    @include media(">phone", "<=425px"){
                        left:0;
                        bottom: 10%;
                        h3{
                            font-size: 1rem;
                        }
                        p{
                            font-size: 0.9rem;
                        }
                    }
                    @include media(">425px", "<1000px"){
                        h3{
                            font-size: 1.05rem;
                        }
                    }
                }
            }
            .slide[data-active] {
                opacity: 1;
                z-index: 1;
                //transition-delay: 200ms;
            }

            .carousel__button{
                position: absolute;
                border: none;
                background: none;
                font-size: 4rem;
                z-index: 2;
                cursor: pointer;
                top: 50%;
                transform: translateY(-50%);
                color: rgb(168, 168, 168);
                border-radius: .25rem;
                padding: 0 .5rem;
                background-color: rgba(0, 0, 0, 0.1);

                &:hover,
                &:focus {
                    color: rgb(231, 231, 231);
                    background-color: rgba(0, 0, 0, 0.2);
                }

                &:focus{
                    outline: 1px solid black;
                }

                &.prev{
                    left: 1rem;
                }
                &.next{
                    right: 1rem;
                }
            }
        }
        .more__skills__container__right{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            margin-bottom: 40vh;
            gap:2vw;
            margin-right: $marginScreenRight;
            @include media(">phone", "<=425px"){
                margin-bottom: 0;
            }
           h1{
                writing-mode:vertical-rl;
                margin: 0;
                font-size: 2.4rem;
                @include media("<1000px"){
                    font-size: 2.2rem;
                }
            }
            #more-tekst{
                max-width: 60ch;
                font-size: 1rem;
                line-height: 1.5rem;
                margin-left: 2vw;
                @include media("<1000px"){
                    line-height: 1.4rem;
                }
            }
        }
    }
}

// about
.about{
    .about__container{
        width: 100vw;
        height: $screenHeight;
        display: flex;
        color: $textWhite;
        //background-color: #3a5595;
        position:relative;
        overflow: hidden;
        @include media(">phone", "<=425px"){
            flex-direction: column;
            height: 200vh;
        }
        .about__container__contact{
            width: 50%;
            //background-color: rgb(89, 112, 93);
            display: flex;
            justify-content: center;
            align-items: center;
            @include media(">phone", "<=425px"){
                width: 100%;
                height: 100vh;
                
            }
            #contact-form{
                z-index: 1;
                display: flex;
                flex-direction: column;
                
                @include media(">425px", "<1000px"){
                    margin-top: 2rem;
                }
                h1{
                    margin: 0;
                    a{
                        margin-left: -0.3rem;
                    }
                }
                h4{
                    margin: 0.5rem 0.1rem
                }
                h2{
                    margin-bottom: 2rem;
                }
                label{
                    margin-bottom: 0.3rem;
                    @include media(">phone", "<=425px"){
                        margin-left: 5vw;
                    }
                }
                input{
                    margin-bottom: 1rem;
                    width: 18rem;
                    @include media(">phone", "<=425px"){
                        align-self: center;
                    }
                }
                #message {
                    overflow-y: scroll;
                    width: 18rem;
                    height: 20vh;
                    margin-bottom: 0.3rem;
                    resize: none;
                    @include media(">phone", "<=425px"){
                        align-self: center;
                    }
                }
            }
        }
        .about__container__about{
            z-index: 1;
            width: 50%;
            @include media(">phone", "<=425px"){
                width: 100%;
                height: 100vh;
                margin-left: $marginScreenLeft;
                margin-right: $marginScreenRight;
            }
            h1{
                margin-top: 20vh;
            }
            p{
                width: 50ch;
                line-height: 1.5rem;
                @include media(">phone", "<=425px"){
                    width: 37ch;
                }
            }
            
        }
        .about__container__blob{
            position: absolute;
            z-index: 0;
            margin-left: 40vw;
            margin-top: 20vh;
            overflow: hidden;
            @include media(">phone", "<=425px"){
                margin-left: 20vw;
                margin-top: 80vh;
            }
        }
    }
}