
// fonts
$mainFont: 'Poppins', sans-serif;


// Colors
$textWhite: rgb(220,220,220);
$bgDark: rgb(25,25,25);

//gradients
//telegram
//background: #1c92d2;  /* fallback for old browsers */
//background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
//background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




// variables
$navbarHeight: 5rem;
$marginScreenLeft: 5vw;
$marginScreenRight: 5vw;
$screenHeight: 100vh; //calc(100vh - $navbarHeight);
$paddingfromNavBar: 7rem;